@import "tailwindcss";
@tailwind utilities;

@font-face {
  font-family: "Unbounded";
  src: url("./fonts/Unbounded/static/Unbounded-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Jost";
  src: url("./fonts/Jost/Jost-VariableFont_wght.ttf") format("truetype");
}

body {
  background-color: #060010;
}

@layer utilities {
  .big-dark-button {
    @apply bg-black text-white font-[Jost] text-lg rounded-full px-5 py-2 hover:bg-[#222222] cursor-pointer;
    transition: 0.2s;
  }
  .big-light-button {
    @apply bg-white text-black font-[Jost] text-lg rounded-full px-5 py-2 hover:bg-[#CDCDCD] cursor-pointer;
    transition: 0.2s;
  }
  .glass-effect {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 100px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  }
}
